body {
  background-color: gold;
  font-family: sans-serif;
  border: 0.3rem solid black;
}

.top {
  border: 0.3rem solid blue;
}

.main {
  border: 0.3rem solid red;
}

.top, .main {
  padding: 1rem;
}

h1 {
  text-align: center;
}

select {
  font-size: 1rem;
}

.countryContainer {
  /* border: 0.3rem solid green; */
  background-color: linen;
  color: maroon;
  padding: 1rem;
  margin: 1rem;
}
